* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.spinner-container {
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 9999; 
}

/*Loader*/
.spinner-border {
  width: 48px;
  height: 48px;
  border: 5px solid black;
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}